.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  flex-grow: 1;
  width: 250px;
  padding: 20px;
  margin: 15px 30px;
  border: 2px solid black;
  background-color: var(--Color-2);
}

.item:nth-child(even) {
  background-color: var(--Color-1);
}

.item img {
  width: 80%;
  margin: 10px;
  text-align: center;
  transition: transform .2s;
}

.even:hover {
  width: 100%;
  transform: scale(1.5);
  border: 2px solid black;
  background-color: var(--Color-2);
  padding: 20px;
}

.oneven:hover {
  width: 100%;
  transform: scale(1.5);
  border: 2px solid black;
  background-color: var(--Color-1);
  padding: 20px;
}

.item h1, .item ul, .item p {
  padding-bottom: 1em;
}

.button {
  background-color: #C0D890;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}

.not_visible {
  visibility: hidden;
}

/* --- Responsive code (max-width: 950px) --- */
@media all and (max-width: 950px) {
  .item {
    width: 200px;
    margin: 15px 30px;
  }
}

.even:hover {
  width: 90%;
  transform: scale(1.1);
  border: 0px solid black;
  background-color: var(--Color-2);
  padding: 0px;
}

.oneven:hover {
  width: 90%;
  transform: scale(1.1);
  border: 0px solid black;
  background-color: var(--Color-1);
  padding: 0px;
}
/* --- Einde responsive code (max-width: 950px) --- */

/* --- Responsive code (max-width: 650px) --- */
@media all and (max-width: 650px) {
  .item {
    width: 150px;
    margin: 10px 20px;
  }
}
/* --- Einde responsive code (max-width: 650px) --- */
