@font-face {
    font-family: Roboto;
    src: url(Font/Roboto-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
  font-family: Roboto;
}

body{
    text-align: center;
}

.breedte_website {
  width: 70%;
  margin: 0 auto;
}





/*Header items---------------------------*/
#navigatie{
	margin-top: 2em;
	float: right;
  text-align: center;
  border: 4px solid black;
  border-color: black;
  background-color: #FDDD93;
  padding: 20px;
}

#navigatie li{
  display:inline;
}

#navigatie a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  padding: 20px;
}

#navigatie a:hover {
  color: black;
  background-color: #FDDD93;
}

#bovenkant {
	height: 150px;
	background-color:#EFE4B0;
	border-bottom: 4px solid black;
	left: 0;
  top: 0;
}

#logo {
	width: 7%;
	float: left;
}

#text2{
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #EFE4B0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 2em;
    padding: 5px;
}

/*------------------------------------------*/


/*kolommen voor in de section---------------*/
.column1, .column2 {
    float: left;
    width: %;
    text-align: center;
    background-color: #FDDD93;
    margin-top: 2em;
}

.column3 {
	float: left;
	width: ;
	text-align: center;
	background-color: #EFE4B0;
	margin-top: 2em;
}
/*-------------------------------------------*/


/*Footer items-------------------------------*/

#Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFE4B0;
    text-align: center;
    border-top-style: solid;
    border-color: black;
    margin: auto;
}

.kolom_1, .kolom_2, .kolom_3 {
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 2em;
}

.kolom_2 {
	float: left;
	width: 30%;
	text-align: center;
	margin-bottom: 2em;
	border-color: black;
	border-left-style: solid;
	border-right-style: solid;
}

/*-------------------------------------------*/


/*Code voor Responsive-----------------------*/
@media all and (max-width:1100px){

	#bovenkant {
	height: 150px;
	background-color:#EFE4B0;
	border-bottom-style: solid;
	left: 0;
  top: 0;
  margin-bottom: 4em;
	}

	li{
    display:inline;
    margin-right: 2em;
	}

  .column1, .column2, .column3{
    width: 100%;
    float: left;
    margin: 0.625em;
    }

  #logo {
	 width: 15%;
	 float: left;
	}

  #text2{
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #EFE4B0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}
/*-------------------------------------------*/
